@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using RecordBill.API.Areas.HelpPage
@using RecordBill.API.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}

<h3 id="@Model.Key.ControllerName" class="ApiGroup_Title">@Model.Key.ControllerName</h3>
@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p>@controllerDocumentation</p>
}
else
{
    <p>Î´ÄÜÕÒµ½¼ò½éÎÄµµ</p>
}
<table class="table table-hover ApiGroup_Table">
    <thead>
        <tr>
            <th scope="col">APIÃû³Æ</th>
            <th scope="col">¼ò½é</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var api in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">
                        @api.RelativePath.Split('?')[0]
                        @if (api.HttpMethod.Method == "POST")
                        {
                            <span class="badge badge-primary">
                                @api.HttpMethod.Method
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-success">
                                @api.HttpMethod.Method
                            </span>
                        }
                    </a>
                </td>
                <td>
                    @if (api.Documentation != null)
                    {
                        <span>@api.Documentation</span>
                    }
                    else
                    {
                        <span>Î´ÄÜÕÒµ½¼ò½éÎÄµµ</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>